.card__buy-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  width: 250px;
  height: 60px;
  flex-shrink: 0;
  background: rgb(22, 94, 217);
  box-shadow: 0 2px 4px rgba(166, 100, 100, 0.05);
  border-radius: 5px;
  font-size: 22px;
  font-family: "Mont-Regular", sans-serif;
  font-weight: 600;
  color: #fff;
  line-height: 21px;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  transition: .3s;
}

.card__buy-button:hover {
  background: rgb(58, 114, 210);
}

.card__buy-button.is-activeButton {
  color: #fff;
}

.loader-container {
  position: absolute;
  display: flex;
  left: 22%;
  gap: 4px;
  align-items: center;
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
